/***** nav *****/ 

.nav--vertical {
    /* set the height to 100% of parent */
  height: 100%;
}

.nav--horizontal {
  display: none;
  width: 100%;
}


.nav__list {
  /* remove any list styles */
  list-style: none;
}

.nav__list--vertical {
  /* set the height to 100% of parent */
  height: 100%;
  /* set the display to flex with a direction of column */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__list--horizontal {
  display: none;
  /* set the width to 100% of parent */
  width: 100%;
}

.nav__item {
  display: block;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  /* remove text decoration */
  text-decoration: none;
  text-align: center;
  /* set the color */
  color: var(--primary);
  /* set the height and width to 100% of parent */
  height: 100%;
  width: 100%;
  /* add padding */
  padding: 2rem;
}

.nav__link:hover,
.nav__link:active {
  /* set the color */
  color: var(--primary-dark);
}

.nav__link:focus {
  /* set the color */
  outline-color: var(--primary-light);
}

.nav__item--active {
  /* set the back ground color */
  background-color: var(--primary-light);
}

/***** nav media queries *****/

/* media query for min width of 900 pixels */
@media screen and (min-width: 56.25em) {

  .nav--horizontal{
    /* show the horizontal nav */
    display: block;
  }

  .nav__list--horizontal {
    /* set the display to flex with a direction of row*/
    display: flex;
  }

  .nav__list--horizontal .nav__item {
    /* set the nav item to grow to take up available space */
    flex: 1 0 auto;
  }
  
}