/***** root ******/ 

:root {
  /* specify app colors */
  --primary-light: #d8b4fe;
  --primary: #9333ea;
  --primary-dark: #581c87;
  --error: #ea580c;
  --success: #16a34a;
  --white: #f9fafb;
  --grey: #9ca3af;
  --black: #111827;

}

/***** all elements ****/ 

*,
*::after,
*::before {
  /* set the margin and padding to 0 */
  margin: 0;
  padding: 0;
  /* set the box-sizing to inherit, the actualy value will be set on html */ 
  box-sizing: inherit;
}

/***** html *****/ 

html {
  /* set the font size to 10px */
  font-size: 62.5%;
  /* set the box sizing to border box, this value will be set for all child elements as specified above */
  box-sizing: border-box;
}

/***** body *****/ 

body {
  /* set the font properties */
  font-family: 'Roboto', sans-serif;;
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  /* set the body color */
  background-color: var(--white);
}

/***** heading *****/ 

.heading { 
  /* update font weight */
  font-weight: 500;
}

.heading--1 {
  font-size: 2.4rem;
}