/***** rover *****/

.rover {
    /* set the grid area */
    grid-area: main;
    /* set the height to 100% of parent, this will be grid area main */
    height: 100%;
}

.rover__photo-container {
  padding: 2rem 0;
}

.rover__photo {
  display: block;
  /* set the width to 100% and said the height to auto to keep pixel ratio */
  width: 100%;
  height: auto;
}

.rover__photo-date {
    /* create a flex along the horizontal axis*/
    display: flex;
    padding: 1rem 2rem;
}

.rover__photo-date--icon {
  display: inline-block;
  /* set the dimensions */
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  /* fill with color */
  fill: var(--primary);
}

.rover__photo--date--text {
  display: inline-block;
}

.rover__photo-camera {
  /* create a flex along the horizontal axis*/
  display: flex;
  /* jsutify the items on the maina xis in the center */
  justify-content: center;
  padding: 1rem 2rem;
}

.rover__info{
  background-color: var(--grey-light);
  /* add padding */
  padding: 2rem;
    /* create a 2 column grid with x amount fo rows */
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: min-content;
    /* set teh grid gap to 1rem vertically and 2rem horizontally */
  grid-gap: 1rem 2rem;
}

.rover__info-label {
  display: inline-block;
  font-weight: 500;
  color: var(--primary);
}

.rover__info-value {
  display: inline-block;
  /* justify the item in the cell to the end */
  justify-self: end;
}

.rover__info-value--name {
  grid-column: 1/-1;
  justify-self: center;
  font-weight: 500;
}

.rover__info-value--status {
  /* set the grid column */
  grid-column: 1/-1;
  font-size: 1.2rem;
}

.rover__info-value--active {
  /* set the font color */
  color: var(--success);
}

.rover__info-value--deactive {
  /* set the font color */
  color: var(--error);
}