/***** toggle button *****/ 

.toggle-button {
  display: inline-block;
  /* remove the background  */
  background-color: transparent;
  /* set the border properties */
  border: none;
  border-radius: .5rem;
  /* add a margin right */
  margin-right: 2rem;
  cursor: pointer;
}

.toggle-button:hover .toggle-button__icon,
.toggle-button:active .toggle-button__icon {
  fill: var(--primary-dark);
}

.toggle-button:focus {
  outline-color: var(--primary-light);
}

.toggle-button__icon {
  display: inline-block; 
  /* set height properties */
  height: 2rem;
  width: 2rem;
  /* fill the color */
  fill: var(--primary);
}